streamlit
python-dotenv
langchain
langchain-community
langchain-groq
langsmith
langgraph==0.2.60
wikipedia
# Persistence
aiosqlite
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
psycopg-binary
psycopg_pool
# MCP
mcp
